nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  padding-block: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  padding-block: 8px;
}

nav ul li:last-child img {
  width: 40px;
  height: 40px;
}
